body {
  background-color: white;
  text-align: justify;
  font-family: arial, helvetica, sans-serif;
  font-size: 90%;
  *font: 13.34px helvetica, arial, clean, sans-serif;
line-height: 1.5em;
}

#content {
  margin-right: 10px;
}

#search {
	text-align: right;
}

#sidebar {
}
.post p  {
}

.post h1 {
	font-weight: bold;
	font-size: 18px;
}

.post img {
    *display: block;
    *margin-left: auto;
    *margin-right: auto;
margin: 0 0 15px 15px;
float: right;
	max-width: 700px;

 }

#sidebar_block_menu {

}



