<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Piero Campanelli" />
   <!-- keywords? -->
   <!-- RSS -->
<!--   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" /> -->

	<!-- Stylesheets (based on CSS Blueprint)-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/blueprint/print.css" type="text/css" media="print">	
	<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/enjoythearchitecture.css" type="text/css" media="screen, projection">

</head>


<body>
<div class="container">
						
	<div id="header" class="span-15">
	  <h1>Enjoy the Architecture</h1>
	</div>
	
	<div id="search" class="span-9 last">
		{% include search.html %}
	</div>
	
	<hr>

  <div id="content" class="span-18">
  	{{ content }}
  </div>

  <div id="span" class="span-2">
    <p></p>
  </div>

  <div id="sidebar" class="span-4 last">	
	{% include about.html %}
	{% include menu.html %}
	{% include icons.html %}
  </div>	
 

  <div id="footer" class="span-24 last">
	<p>
	<hr>
	  <i>This is footer</i>
	</p>
  </div>

</div>






<!-- ClickTale Bottom part -->
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<!-- Google Analytics end -->

</body>
</html>
